<!DOCTYPE html>
<html>
  <head>
    <title>DIY Abortion Clinic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <div class='about-link'>
      <%= link_to 'About this site', about_path %>
    </div>
  </body>
</html>
